*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}



html, body{
  height:100vh;
}

body{
  display:flex;
  flex-direction:column;
  font-family:'Press Start 2P', monospace;
  background-image:url('img/background-index.png');
  background-size:cover;
  background-repeat:no-repeat;
  padding:15px;
  color:#2b1707;
}


h1{
  text-align:center;
  margin-bottom:10px;
  text-shadow:3px 3px #f5d6a0;
}

.subtitulo{
  text-align:center;
  margin-bottom:10px;
}



.titulo{
  background:linear-gradient(180deg, #d7a35d, #85592d);
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
}



.container{
  display:grid;
  grid-template-columns:1fr 320px;
  gap:15px;
  overflow:hidden;
}



.painel{
  background:linear-gradient(180deg, #d7a25d77, #5c3d1f73);
  border-radius:16px;
  padding:15px;
  display:flex;
  flex-direction:column;
  overflow:hidden;

}

.painel > h2{
  margin-bottom:10px;
}




.algoritmo{
  display:flex;
  flex-direction:column;
  gap:10px;
  overflow-y:auto;
}



.linha{
  display:grid;
  grid-template-columns:110px 1fr 1fr;
  gap:10px;
  align-items:center;
  padding:8px;
  border-radius:10px;
  background:linear-gradient(180deg, #d7a25daf, #683a2096);
}



.linha.executando{
  border:2px solid #1c6615;
  background:linear-gradient(180deg, #5cb618af, #094b0e96);
}



.rodada{
  font-weight:bold;
}



select{
  padding:8px;
  border-radius:8px;
  border:1.5px solid #49220b;
  font-size:22px;
  cursor:pointer;
  background:linear-gradient(180deg, #ac7835, #4d2711);
  color:#f5d6a0;
}

select > option {
  background:linear-gradient(180deg, #ac7835, #4d2711);
}


.botoes-geral{
  display:flex;
  gap:10px;
  margin-top:10px;
}

button{
  border:1.5px solid #49220b;
  padding:10px 14px;
  border-radius:10px;
  cursor:pointer;
  font-weight:bold;
  transition:0.2s;

}


.botoes-jogo {
  display: flex;
  gap:30px;
}
.confirmar{
  background:linear-gradient(180deg, #d7a25d, #683a20);
  color:#f5d6a0;
}

.executar{
  background:linear-gradient(180deg, #5db618e5, #094b0edc);
  color:#f5d6a0;
}

.debug{
  background:linear-gradient(180deg, #f0ac4ee3, #7c5011);
  color:#f5d6a0;
}

.reset{
  background:linear-gradient(180deg, #d9534f, #77211e);
  color:#f5d6a0;
}

button:hover{
  transform:scale(1.05);
}


.console{
  background:#111;
  color:#00ff66;
  border-radius:12px;
  padding:10px;
  display:flex;
  flex-direction:column;
  height:100%;
  overflow-y: auto;

}

.console-sub{
  text-align:center;
  margin-bottom:10px;
}

.console-saida{
  overflow-y:auto;
  font-size:10px;
}

.evento{
  color:#ff6b6b;
  font-weight:bold;
}

.sucesso{
  color:#8aff8a;
}

.alerta{
  color:#ffe66d;
}

.aviso{
  color: #ff7c17;
}

.cursor-proibido{
  cursor:not-allowed;
}

.invisivel{
  display:none;
}

.piscando{
  animation:piscar 1s infinite;
}

@keyframes piscar{

  0%{opacity:1;}
  50%{opacity:0.2;}
  100%{opacity:1;}

}