
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html, body{
    height:100vh;
    overflow:hidden;
}

body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;

    background-image:url('img/background-index.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;

    font-family:'Press Start 2P', monospace;

    padding:20px;
}


.container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}



.placa{
    background:linear-gradient(180deg, #d7a35d, #b6783b);
    border:6px solid #6b3f1d;
    box-shadow:6px 6px 0 #4d2c12;
    text-align:center;
    color:#2b1707;
}



.placa-titulo{
    padding:20px;
    width:100%;
    max-width:850px;
    align-self:center;
}

.placa-titulo > h1{
    font-size:30px;
    margin-bottom:10px;
    text-shadow:3px 3px #f5d6a0;
}

.subtitulo{
    font-size:12px;
    margin-top:15px;
}



.inferior{
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
}



.placa-tutorial{
    padding:15px;
    display:flex;
    flex-direction:column;
    max-width:400px;
}

.placa-tutorial h2{
    font-size:18px;
    margin-bottom:15px;
}

.placa ul{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.placa-tutorial li{
    font-size:10px;
}


.botao-jogar{
    text-decoration:none;
    color:#fff7dc;
    background:linear-gradient(180deg, #5fa84d, #3f7d31);
    border:5px solid #24481d;
    padding:15px 20px;
    font-size:14px;
    box-shadow:5px 5px 0 #193314;
    transition:0.15s;
    align-self:flex-end;
}


.botao-jogar:hover{
    transform:translateY(3px);
    box-shadow:2px 2px 0 #193314;
    cursor:pointer;
}


.zoom{
  animation:zoom 1.5s infinite;
}

@keyframes zoom{

  0%{scale:0.90;}
  50%{scale:1.3;}
  100%{scale:0.90;}

}